# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\task_bigDataTeam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
